{
  "name": "<%= name %>",
  "version": "<%= version %>",
  "description": "<%= description %>",
  "homepage": "http://lodash.com/custom-builds",
  "license": "MIT",
  "private": true,
  "author": ""<%
  if (!_.isEmpty(dependencies)) {
    print(',\n  "dependencies": ' + JSON.stringify(dependencies, null, 4).replace(/}$/, '  $&'));
  }%>
}
