# <%= name %> v<%= version %>

The [modern build](https://github.com/lodash/lodash/wiki/Build-Differences) of [lodash’s](https://lodash.com/) <%= (isInternal ? 'internal `' : '`_.') + identifier %>` exported as a [Node.js](http://nodejs.org/)/[io.js](https://iojs.org/) module.

## Installation

Using npm:

```bash
$ {sudo -H} npm i -g npm
$ npm i --save <%= name %>
```

In Node.js/io.js:

```js
var <%= identifier %> = require('<%= name %>');
```

See the <%= (isInternal ? '' : ('[documentation](https://lodash.com/docs#' + identifier + ') or ')) %>[package source](https://github.com/lodash/lodash/blob/<%= version %>-npm-packages/<%= name %>) for more details.
